body {
  color: orange;
  background: black;
  font-family: arial;
}

h1 {
  text-align: center;
  width: 100%;
  background: orange; 
  color: black;
}

pre {
  font-size: 1.5em;
  text-align: center;
  color: orange;
}

#footer {
  text-align: center;
  background: orange;
  color: black;
  width: 100%;
}

#footer a {
  color: green;
  font-weight: bold;
}
